*

*.cpp~
*.c~
*.h~

!libdiskfs/
!libdiskfs/node-times.c
!libdiskfs/opts-std-runtime.c
!libdiskfs/opts-common.c
!libdiskfs/node-times.c
!libdiskfs/priv.h
!libdiskfs/opts-std-startup.c
!libdiskfs/init-init.c
!libdiskfs/diskfs.h
!libdiskfs/opts-append-std.c
!libdiskfs/file-statfs.c
libdiskfs/*.c~
libdiskfs/*.h~

Makefile~

!/tests/
!/tests/*
!README.org
!.gitignore